# Python
__pycache__/
*.pyc

# Models
models/**
!models/.gitkeep
*.h5
*.pt
*.pth

# Datasets
datasets/**
!datasets/.gitkeep

# Outputs
z_outcomes/

# IDE
.vscode/
.idea/

# Virtual environments
.venv/
venv/
env/

# Logs
*.log